.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;

  }
  .header-container{
    
    margin: 0px 40px;
  }
  .navbar-logo img {
    height: 40px;
    width: auto;
  }
  
  .navbar-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-left: 1rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    color: #007bff;
  }

  /* reto-card-container */

  .reto-card-container{
        margin-left: 300;
        display: flex;
        
        flex-wrap: wrap;
  }

  .food-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #fff;
    margin: 20px;
   
  }
  
  .food-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .food-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .food-card-content {
    margin-top: 30px;
    padding: 15px;
  }
  
  .food-card-title {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .food-card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .food-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .food-card-price {
    font-size: 18px;
    font-weight: bold;
  }
  
  .food-card-order-button {
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .food-card-order-button:hover {
    background-color: #ff4500;
  }
  .profile-img-div {
    position: relative;
    width: 300px;
    height: 200px;
    /* Add a background color or image for visibility */
    background-color: #f0f0f0;
  }
  
  .logo-div {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff4500;
    bottom: 10px;  /* Position from bottom */
    left: 10px;   /* Position from right */
    border-radius: 40%;  /* Optional: makes the logo circular */
  }
  .logo-div img{
    width: 30px;
    height: 30px;
  }
  .search{
    margin: 40px;
  }
  .first-card-container{
    display: flex;
  }
  .whatsInyourMind-container {
    display: flex;              /* Enable Flexbox */
    flex-direction: row;       /* Arrange items in a row (default) */
    flex-wrap: wrap;           /* Allow items to wrap onto the next line if necessary */
    justify-content: flex-start; /* Align items at the start of the container */
}
.whatsInyourMind-container{
   margin: 10px;
   padding: 10px;
  
}
  .whatsInyourMind-img-container, img{
    width: 200px;
    height: 170px;
  }
  .about_card{
    width: 150px;
    height: 300px;
    border: solid;
    border-radius: 1px;
  }